@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Montserrat&family=Open+Sans:wght@500&family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Montserrat&family=Open+Sans:wght@500&family=Playfair+Display&family=Roboto+Mono:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #b5fffc;
}

.row {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  font-family: "Playfair Display", serif;
  margin-top: 30px;
  color: darkcyan;
  text-align: center;
  padding-bottom: 50px;
  font-size: 50px;
  padding-top: 30px;
}

.box {
  width: 100%;
  overflow: none;
}

.content-name {
  font-family: "Montserrat", sans-serif;
  float: right;
  color: white;
  border: 3px solid black;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  width: 130px;
  height: auto;
  text-align: center;
  margin-right: 35px;
  margin-top: -9px;
  position: relative;
  background-image: linear-gradient(to right, #3494e6, #ec6ead);
  box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.397);
}

.contents {
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  text-align: left;
  border: 2px solid black;
  border-radius: 10px;
  width: 90%;
  margin: 2.5%;
  height: 260px;
  padding: 2%;
  padding-top: 50px;
  box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.644);
  background-image: linear-gradient(to right, #02aab0, #00cdac);
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,
  .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}
